<div class="samples-header-box">
  <p>Find samples by tag or categories or use the search function.</p>
  <button type="button" class="btn btn-primary"><a href="<%= tags_path %>">Tags</a></button>
  <button type="button" class="btn btn-success"><a href="<%= categories_path %>">Categories</a></button>
  <!-- search function -->
  <div class="search-box">
    <%= form_tag(samples_path, method: "get") do %>
      <%= text_field_tag :query, nil, placeholder: ' search audio...' %>
      <button class="btn btn-secondary" type="submit">Search</button>
    <% end %>
  </div>
</div>

<% @samples.each do |sample| %>
  <div class="sample-container">
  <h5><strong><%= link_to sample.title, sample_path(sample) %></strong></h5>
    <%= audio_tag sample.audio_url, controls:true, class: "audio-player" if sample.audio %>
    <span>Tags: </span>
    <% sample.tag_list.each do |tag| %>
      <div class="badge badge-info"><%= link_to tag, tagged_path(tag: tag) %>
      </div>
    <% end %>
    <span> | </span>
    <span>Category: </span> 
      <% sample.categories.each do |category| %>
      <div class="badge badge-warning"><%= link_to category.name, categorised_path(category: category.id) %></div> 
    <% end %>  
  </div>   
  <% end %>
  <br>
</div>



