<h2><%= @sample.title %></h2>
<p><%= @sample.description %></p>
<h5><%= @sample.file_type %></h5>
<h5><%= @sample.tag_list %></h5>
<h5>related samples: 
  <% @related_samples.each do |rs| %> <!-- show other samples that have a common tag -->
    <%= link_to rs.title, sample_path(rs) %>
  <% end %></h5>

<%= link_to "Delete", sample_path(@sample), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
<%= link_to "Edit", edit_sample_path %>
<%= link_to "Back", samples_path %>

